configuration {

    modes: [ drun, window, filebrowser ];
    sidebar-mode: true;
    icon-theme: "Adwaita";
    
    display-drun: "Apps";
    display-window: "Windows";
    display-filebrowser: "Files";
}
@theme "/usr/share/rofi/themes/sidebarEmi.rasi"


